#!/usr/bin/env python
import rospy
import subprocess
import time
from geometry_msgs.msg import Twist

def move_husky():
    rospy.init_node('husky_mover')
    pub = rospy.Publisher('/cmd_vel', Twist, queue_size=10)
    vel_msg = Twist()
    
    time.sleep(10)
    
    vel_msg.linear.x = 0.5
    for _ in range(40):
        pub.publish(vel_msg)
        time.sleep(0.1)
    
    vel_msg.linear.x = 0
    pub.publish(vel_msg)

if __name__ == '__main__':
    # Launch in correct order with robot description
    launch_cmd = 'roslaunch husky_gazebo husky_playpen.launch'
    subprocess.Popen(launch_cmd.split())
    time.sleep(5)  # Wait for Gazebo and description to load
    
    # Launch RViz
    rviz_cmd = 'roslaunch husky_viz view_robot.launch'
    subprocess.Popen(rviz_cmd.split())
    
    try:
        move_husky()
    except rospy.ROSInterruptException:
        pass
