<launch>
  <param name="/use_sim_time" value="false"/>

  <node pkg="husky_custom_sim" type="scan_relay.py" name="scan_relay" output="screen"
        respawn="true" respawn_delay="2.0"/>

  <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam file="$(find husky_custom_sim)/config/slam_toolbox_params.yaml" command="load"/>
    
    <param name="odom_frame" value="odom"/>
    <param name="map_frame" value="map"/>
    <param name="base_frame" value="base_link"/>
    <param name="scan_topic" value="/scan_fixed"/> <param name="mode" value="mapping"/>
    
    <param name="map_file_name" value=""/>
    <param name="map_start_at_dock" value="false"/>
  </node>

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(find husky_custom_sim)/config/costmap_common.yaml"
              command="load" ns="global_costmap"/>
    <rosparam file="$(find husky_custom_sim)/config/costmap_common.yaml"
              command="load" ns="local_costmap"/>
    <rosparam file="$(find husky_custom_sim)/config/global_costmap.yaml"
              command="load"/>
    <rosparam file="$(find husky_custom_sim)/config/local_costmap.yaml"
              command="load"/>
    <rosparam file="$(find husky_custom_sim)/config/move_base_params.yaml"
              command="load"/>

    <remap from="cmd_vel" to="/cmd_vel"/>
  </node>

</launch>